:root {
    --color-accent: oklch(65% 50% 0);
    accent-color: var(--color-accent);
    color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
        and use the OS's UI font as the website font */
    position: absolute;
    font: 100%/1.5 system-ui;
    max-width: 1000px;
    margin-inline: max(1em, (100% - 100ch)  / 2);
}

select {
    font: inherit;
  }

nav {
    --border-color: oklch(50% 10% 200 / 40%);
    display:flex;
    margin-bottom:1.5rem;
    border-bottom: 1px solid var(--border-color);

}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align:center;
    padding:0.5em

}

nav a.current{
    border-bottom:0.4em solid var(--border-color);
    padding-bottom:0.1em;
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
}

h2 {
    margin:0;
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
    margin-block: 0.5em;
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;  /* Make the font smaller */
  }